.site-header {
    padding: 32px 0;
    background-color: #49BCF1;
}

.site-header__inner {
    display: flex;
    align-items: center;
}
.site-header__logo-link {
    text-decoration: none;
}
.site-header__logo {
    width: 170px;
    height: 33px;
}
.nav {
    margin-left: auto;
}
.nav__list {
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
    list-style: none;
}
.nav__item + .nav__item {
    margin-left: 47px;
}
.nav__item-link {
    display: inline-block;
    font-family: 'Barlow';
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    letter-spacing: -0.128571px;
    color: #FFFFFF;
    text-decoration: none;
}

.nav__item-link--active {
    font-family: 'Fraunces Soft 28pt';
    padding: 16px 32px;
    font-weight: 700;
    font-size: 15px;
    line-height: 25px;
    letter-spacing: -0.107143px;
    text-transform: uppercase;
    color: #24303E;
    background-color: #fff;
    border-radius: 28px;
 footer

    &:hover{
        opacity: 0.8;
    }

    &:active{
        color: #fff;
        background-color: #77CDF5;
    }
}

.burger-button{
    display: none;
    border: none;
    padding: 0;
    background-color: transparent;
}





@media only screen and (max-width:520px){
    .site-header__logo{
        width: 124px;
        height: 24px;

    }
    .nav{
        display: none;
    }
    
    .burger-button{
        display: block;
        margin-left: auto;
    }
    
    
    .nav--open{
        position: absolute;
        z-index: 100;
        top: 106px;
        left:5%;
        display: block;
        margin: 0 auto;
        width: 90%;
        background-color: #FFFCF8;
    }
    
    .nav__list{
        flex-direction: column;
        padding: 39px 0;
    }
    .nav__item + .nav__item{
        margin-left: 0;
        margin-top: 32px;
    }
    
    
    
    .nav__item-link{
        font-weight: 600;
        font-size: 20px;
        line-height: 25px;
        letter-spacing: -0.142857px;
        color: #808397;
    }
    
    .nav__item-link--active{
        font-size: 15px;
        background-color: #FBD600;
    }
    
    .triangle{
        position: absolute;
        top: 0;
        right: 0;
        transform: translateY(-50%);
        width: 0; 
        height: 0; 
        border-top: 24px solid transparent;
        border-bottom: 24px solid transparent; 
        
        border-right:24px solid #FFFCF8; 
        
    }
    
    
}

@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) { 
    
    .navbar::after{
        background-image: url("../../images/header-menu-bgi@2x.png");
    }
} 

@media only screen and (max-width:520px){
    
}